
/* @group general */

body {
	margin: 0 auto;
	width: auto;
}

.container {
	width: auto;
	position: relative;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

table {
	width: auto;
	margin: 0;
}

td+td {
	text-align: center;
	width: auto;
}

/* @end */

/* @group Header */

header {
	background: url('../images/main/pk_logo.png') 20px 10px no-repeat rgb(55, 34, 24);
	height: 70px;
	width: auto;
}
	
header h1, header h2 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}

a.button {
	position: absolute;
	right: 20px;
	top: 23px;
	width: 30px;
	height: 25px;
	background: url('../images/main/menu_button.png') no-repeat left top;
	background-size: contain;
	display: block;
	margin: 0;
}

nav {
	height: 30px;
	float: none;
	margin: 0;
}

nav ul {
	padding-top: 10px;
	width: 140px;
	background-color: rgb(55, 34, 24);
	line-height: 5px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 70px;
	right: 0;
}

nav li {
	list-style-type: none;
	display: block;
	font-size: 1.3em;
	margin-bottom: 40px;
}

nav li:last-of-type {
	margin-bottom: 30px;
}

nav li a {
	color: #F9E0A4;
	text-decoration: none;
	margin: 10px 10px;
	opacity: .7;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

nav li a:hover {
	color: rgb(255,245,220);
	opacity: 1;
}

li.active a {
	opacity: 1;
}

/* @end */

/* @group Admin */


#admin_copy {
	margin: 0;
}

#admin_copy ul li {
	display: block;
	float: none;
	text-decoration: none;
	margin: 0;
	background-color: rgb(55, 34, 24);
	padding: 10px;
}

/* @end */

/* @group Home */

#homeimage {
	width: auto;
	height: 500px;
	background: url(../images/glam_chic.jpg) left top / cover #f8f3e8;
	float: none;
	
}

#homecopy {
	display: none;
}

#homecopy img {
	margin: 0;
}
	
#reputation {
	text-align: center;
	font: 1em/1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: -30px;
	color: #e0ddd8;
} 

#news1, #news2, #news3, #news4 {
	position: relative;
	max-width: 350px;
	float: none;
	width: auto;
	height: 100%;
	padding: 0;
	padding-top: 300px;
	margin: 30px 30px;
	-moz-box-shadow: 1px 4px 15px rgb(55,34,24);
	-webkit-box-shadow: 1px 4px 15px rgb(55,34,24);
	box-shadow: 1px 4px 15px rgb(55,34,24);
}

#news1 {
	left: 0;
	top: 0;
	background: url(../images/home_news/michelle_r.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news1:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged
}

#news2 {
	left: 0;
	top: 0;
	background: url(../images/home_news/eclipse.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news2:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}


#news3 {
	left: 0;
	top: 0;
	background: url(../images/home_news/bha_offer.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news3:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}

#news4 {
	left: 0;
	top: 0;
	background: url(../images/home_news/kebelo_cover.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news4:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}



aside h2, aside h3, aside h4 {
	color: rgb(255,245,220);
	background-color: rgb(55, 34, 24);
	margin: 0;
	padding: 20px;
	
	
}
aside p {
	color: rgb(255,245,220);
	background-color: rgb(55, 34, 24);
	font-size: 0.8em;
	padding: 20px;
	
	
}
aside h2, aside, h3, aside h4, aside h5, aside h6 {
	font-size: 1.5em;
}

#emily h3, #emily p {
	text-indent: -9999px;
	
}

.newspara {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.55em;
	font-weight: normal;
	text-align: left;
}

.newscenter {
	top: 0;
	left: 0;
	position: relative;
	text-align: center;
	font-size: .75em;
	font-weight: bold;
	margin: 0;
	padding: 10px;
}

.paraend {
	font-size: 1em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.offerHeading {
	font-size: 1.2em;
	font-weight: bold;
}

.offer {
	font-size: 1em;
	font-weight: bold;
}

.offerSmall {
	font-size: .6em;
	
}

/* @end */

/* @group Salon */

#salon {
	width: auto;
	height: 100%;
	background-image: none;
	background-repeat: no-repeat;
}

#saloninfo {
	position: relative;
	top: 0;
	width: auto;
	padding: 30px;
	
}

#saloninfo a {
	color: rgb(55,34,24);
}


#saloninfo a:hover {
	border-bottom: dashed 1px #666;
}


#salonimages {
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background-color: #281d02;
	padding: 10px 0;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border: 2px solid #FFF;
}

#salonimages img {
	float: none;
	margin: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
	border: 1px solid #FFF;
}

/* @end */

/* @group Team */

#team {
	position: relative;
	width: auto;
	height: 100%;
	background: url(../images/pk_staff3.jpg) center top no-repeat;
	background-size: contain;
	padding-top: 200px;
}

#team h3 {
	line-height: 1.2em;
}

#team img {
	margin-right: .7em;
	margin-bottom: .3em;
}

#team ul {
	margin: 0;
	position: relative;
	top: 0;
	display: none;
}

#team section {
	margin: 20px 0;
	padding-bottom: 20px;
}

#kel {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#kel img {
	float: none;
}

#kel p {
	font-size: 0.8em;
}

#kel h3 img {
	margin-top: 0px;
	float: left;
}

#jo {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#jo img {
	float: none;
}

#jo p {
	font-size: 0.8em;
}

#jo h3 img {
	margin-top: 0px;
	float: left;
}

#iz {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#iz img {
	float: none;
}

#iz p{
	font-size: 0.8em;
}

#iz h3 img{
	margin-top: 0px;
	float: left;
}

#kate {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#kate img {
	float: left;
}

#kate p {
	font-size: 0.8em;
}

#kate h3 img {
	margin-top: 0px;
	float: left;
}

#leon {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#leon img {
	float: left;
}

#leon p {
	font-size: 0.8em;
}

#leon h3 img {
	margin-top: 0px;
	float: left;
}


#michelle_r {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#michelle_r img {
	float: left;
}

#michelle_r p {
	font-size: 0.8em;
}

#michelle_r h3 img {
	margin-top: 0px;
	float: left;
}


#jack {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
	
}

#jack img {
	float: none;
}

#jack p{
	font-size: 0.8em;
}

#jack h3 img{
	margin-top: 0px;
	float: left;
}

#tash {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#tash img {
	float: none;
}

#tash p {
	font-size: 0.8em;
}

#tash h3 img {
	margin-top: 0px;
	float: left;
}

#meg {
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	border-bottom: solid 3px #CCC;
	padding: 10px;
}

#meg img {
	float: none;
}

#meg p {
	font-size: 0.8em;
}

#meg h3 img {
	margin-top: 0px;
	float: left;
}

.csstransitions .teamprice, .csstransitions .pteamprice {
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity : 1;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.teamprice {
	display: block;
	padding: 0;
	width: 70%;
	height: 100%;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	clear: none;
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

.pteamprice {
	
	display: block;
	padding-top:220px;
	width: 400px;
	height: 30px;
	position: absolute;
	top: 175px;
	left: 450px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	clear: left;
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

#teambottom {
	text-align: center;
	font-size: .7em;
	margin-bottom: 50px;
	clear: both;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
}

/* @end */

/* @group News */

#newspage {
	width: auto;
	margin: auto;
	height: 100%;
	padding: 20px;
}

#accordion {
	width: auto;
}

#accordion article.article {
	margin: 20px 0 ;
	border-top: 1.5px solid; rgb(55,34,24);
	padding-top: 30px;
	position: relative;
}


#accordion article.article:first-of-type {
	border: none;
}

.visible {
	min-height: 200px;
}



.hidden {
	margin-bottom: 20px;

}

#accordion article.article section.hidden img.image_list {
	margin-bottom: 15px;
	float: none;
}

a.anchor {
	position: absolute;
	top: -100px;
}

.author {
	font-family: 'PT Sans', sans-serif;
	font-size: .6em;
	opacity: .8;
	position: relative;
	float: right;
	left: 0;
	line-height: 2em;

}


#accordion article.article section.visible p,
#accordion article.article section.visible h3,
#accordion article.article section.visible h4 {
	margin-left: 0;
}

#accordion article.article section.hidden p,
#accordion article.article section.hidden h3,
#accordion article.article section.hidden h4,
#accordion article.article section.hidden h5,
#accordion article.article section.hidden iframe {
	margin-left: 0;
}

#accordion article.article section.visible h3 {
	font-size: 1.2em;
	line-height: 1.2em;
}

#accordion article.article section.hidden h4 {
	font-size: 1.3em;
}

#accordion article.article section.hidden h4 {
	font-size: 1.1em;
}

#accordion article time {
	margin-left: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: .6em;
	opacity: .8;
	text-align: right;
}

#accordion article.article section.hidden iframe {
	margin: 10px 10px 20px 0;
	border: 1px solid #333;
	padding: 5px;
	float: none;
}


#accordion article.article section.hidden img {
	float: none;
}

#accordion article.article section.hidden dl dt {
	color: rgb(55,34,24);
	line-height: 1.4em;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 0;
}

#accordion article.article section.hidden dl dd {
	color: rgb(55,34,24);
	margin-left: 0;
	margin-bottom: 8px;
	line-height: 1.4em;
	margin-left: 0;
}

#accordion article.article section.hidden ul.list li {
	display: block;
	font-size: .9em;
	margin: .3em 0;
}

#accordion article.article section.hidden ul.tigilist li {
	display: block;
	margin-left: 0;
}

#accordion article.article section.visible img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#accordion article.article section.hidden img {
	float: none;
	margin-bottom: 30px;
}


p.reveal {
	font-size: 1em;
	display: block;
	opacity: .7;
}

#accordion article.article section p a {
	color: rgb(75,54,44);
}

#accordion article.article section p a:hover {
	border-bottom: 1px dotted rgb(55,34,24);
}

section#newspage a {
	color: rgb(55,34,24);
}

section#newspage a:hover {
	border-bottom: 1px dashed rgb(55,34,24);
}

section#newspage a p:hover {
	opacity: .6;
}

/* @end */

/* @group Offers */

/* Singular Offer Styling */

/*#offersMain {
	height: 500px;
	background: #f5f5f5 url('../images/offer/aveda_red.jpg') no-repeat right top;
	margin: 50px;
	padding: 50px;
	border-radius: 20px;
}

#offersMain h2 {
	font-size: 3em;
}

#offersMain #offer1 {
	font-size: 1.5em;
	width: 350px;
}

#offersMain #offer1 h3 {
	font-size: 1.5em;
	line-height: 1.3em;
}

#offersMain #offer1 small {
	font-size: .5em;
}

#no_offer {
	width: 950px;
	height: 1100px;
	background-image: url(../images/hair_reborn.jpg);
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	
}

#no_offercopy {
	width: 280px;
	height: 830px;
	margin-right: 40px;
	padding-right: 10px;
	float: right;
	margin-top: -950px;
}

#no_offercopy h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #FFF;
}

#no_offercopy p {
	color: #FFF;
	font-size: 1.3em;
	text-align: center;
}

#no_offercopy a {
	color: #FFF;
	font-size: 1.3em;
	line-height: 1.2em;
}

#no_offercopy a:hover {
	border-bottom: dashed 1px #666;
}*/

/* Multiple Offer Styling */

#offersMain {
	height: 100%;
}

#offerlist {
	margin: 0;
	padding: 20px;
}

#offerlist .offer {
	margin-bottom: 30px;
}

#offersMain h2 {
	margin: 20px;
	font-size: 2em;
	line-height: 1.2em;
}

#offerlist h3, #offerlist p, #offerlist .small {
	text-align: center;
	margin: 0;
	color: #FFF;
}

#offerlist h3 {
	font-size: 2em;
	line-height: 1.2em;
}

#offerlist p {
	font-size: 1.2em;
}

#offerlist .small {
	font-size: .78em;
}

#offerlist #offer1 {
	padding: 20px;
	padding-top: 350px;
	background: url(../images/offer/offer1-bha.jpg) -500px top no-repeat #281d02;
	float: none;
	height: 300px;
	width: auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	-webkit-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
}

#offerlist #offer2 h3, #offerlist #offer1 h3, #offerlist #offer4 p {
	margin-top: 0;
}

#offerlist #offer4 h3, #offerlist #offer4 p {
	color: #FFF;
}

#offerlist #offer2 {
	padding: 20px;
	padding-top: 350px;
	background: url(../images/offer/offer3-bha.jpg) -500px top no-repeat #281d02;
	float: none;
	height: 300px;
	width: auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	-webkit-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
}

#offerlist #offer3 {
	padding: 20px;
	padding-top: 350px;
	background: url(../images/offer/offer3-bha.jpg) -500px top no-repeat #281d02;
	float: none;
	height: 300px;
	width: auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	-webkit-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
}

#offerlist #offer4 {
	padding: 20px;
	padding-top: 350px;
	background: url(../images/offer/offer4.jpg) -500px top no-repeat #281d02;
	float: none;
	height: 300px;
	width: auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	-webkit-box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
	box-shadow: 0 0 10px rgba(33, 31, 31, 0.91);
}

#offers {
	background-image:url(../images/offer/katynathleon.png);
	background-position: top right;
	background-repeat: no-repeat;
	height: 100%;
}

#offerscopy {
	width: auto;
	padding: 0;
}

#offerscopy p {
	margin-bottom: 40px;
}

.first {
	font-size: 1.3em;
}

#offerscopy h3 {
	font-size: 1.5em;
}

#offerscopy li {
	display: block;
	font-size: 1.4em;
}

#no_offer {
	width: auto;
	height: 100%;
	background-image: url(../images/hair_reborn.jpg);
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	
}

#no_offercopy {
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	float: none;
	margin: 0;
}

#no_offercopy h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #FFF;
}

#no_offercopy p {
	color: #FFF;
	font-size: 1.3em;
	text-align: center;
}

#no_offercopy a {
	color: #FFF;
	font-size: 1.3em;
	line-height: 1.2em;
}


#no_offercopy a:hover {
	border-bottom: dashed 1px #666;
}

/* @end */

/* @group Footer */
	
footer {
	height: 60px;
	width: auto;
	background-color: rgb(55, 34, 24);
}

#footer_images {
	display: none;
}

#social {
	margin-top: 50px;
	margin-left: 20px;
	float: left;
}

#smallabout {
	display: none;
}

#facebook {
	background: url('../images/footer/facebook_logo.png') no-repeat left top;
	position: absolute;
	bottom: 10px;
	right: 20px;
	opacity: 1;
}

/* @end */



