
/* @group general */

body {
	margin: 0 auto;
	width: auto;
}

.container {
	width: auto;
	position: relative;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

table {
	width: auto;
	margin: 0;
}

td+td {
	text-align: center;
	width: auto;
}

/* @end */

/* @group Header */

header {
	background: url('../images/main/pk_logo.png') 20px 10px no-repeat rgb(55, 34, 24);
	height: 70px;
	width: auto;
}
	
header h1, header h2 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}

a.button {
	position: absolute;
	right: 20px;
	top: 23px;
	width: 30px;
	height: 25px;
	background: url('../images/main/menu_button.png') no-repeat left top;
	background-size: contain;
	display: block;
	margin: 0;
}

nav {
	height: 30px;
	float: none;
	margin: 0;
}

nav ul {
	padding-top: 10px;
	width: 140px;
	background-color: rgb(55, 34, 24);
	line-height: 5px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 70px;
	right: 0;
}

nav li {
	list-style-type: none;
	display: block;
	font-size: 1.3em;
	margin-bottom: 40px;
}

nav li:last-of-type {
	margin-bottom: 30px;
}

nav li a {
	color: #F9E0A4;
	text-decoration: none;
	margin: 10px 10px;
	opacity: .7;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

nav li a:hover {
	color: rgb(255,245,220);
	opacity: 1;
}

li.active a {
	opacity: 1;
}

/* @end */

/* @group Admin */


#admin_copy {
	margin: 0;
}

#admin_copy ul li {
	display: block;
	float: none;
	text-decoration: none;
	margin: 0;
	background-color: rgb(55, 34, 24);
	padding: 10px;
}

/* @end */

/* @group Home */

#homeimage {
	width: auto;
	height: 500px;
	background: url(../images/glam_chic.jpg) left top / cover #cbcb78;
	float: none;
	
}

#homecopy {
	display: none;
}

#homecopy img {
	margin: 0;
}
	
#reputation {
	text-align: center;
	font: 1em/1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: -30px;
	color: #e0ddd8;
} 

#news1, #news2, #news3, #news4 {
	position: relative;
	max-width: 350px;
	float: none;
	width: auto;
	height: 100%;
	padding: 0;
	padding-top: 300px;
	margin: 30px 30px;
	-moz-box-shadow: 1px 4px 15px rgb(55,34,24);
	-webkit-box-shadow: 1px 4px 15px rgb(55,34,24);
	box-shadow: 1px 4px 15px rgb(55,34,24);
}

#news1 {
	left: 0;
	top: 0;
	background: url(../images/home_news/michelle_r.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news1:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged
}

#news2 {
	left: 0;
	top: 0;
	background: url(../images/home_news/eclipse.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news2:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}


#news3 {
	left: 0;
	top: 0;
	background: url(../images/home_news/bha_offer.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news3:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}

#news4 {
	left: 0;
	top: 0;
	background: url(../images/home_news/kebelo_cover.jpg) no-repeat, rgb(55,34,24);
	background-size: 100% auto;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#news4:hover {
	top: 0;
	-moz-box-shadow: unchanged;
	-webkit-box-shadow: unchanged;
	box-shadow: unchanged;
}



aside h2, aside h3, aside h4 {
	color: rgb(255,245,220);
	background-color: rgb(55, 34, 24);
	margin: 0;
	padding: 20px;
	
	
}
aside p {
	color: rgb(255,245,220);
	background-color: rgb(55, 34, 24);
	font-size: 0.8em;
	padding: 20px;
	
	
}
aside h2, aside, h3, aside h4, aside h5, aside h6 {
	font-size: 1.5em;
}

#emily h3, #emily p {
	text-indent: -9999px;
	
}

.newspara {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.55em;
	font-weight: normal;
	text-align: left;
}

.newscenter {
	top: 0;
	left: 0;
	position: relative;
	text-align: center;
	font-size: .75em;
	font-weight: bold;
	margin: 0;
	padding: 10px;
}

.paraend {
	font-size: 1em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.offerHeading {
	font-size: 1.2em;
	font-weight: bold;
}

.offer {
	font-size: 1em;
	font-weight: bold;
}

.offerSmall {
	font-size: .6em;
	
}

/* @end */

/* @group Salon */

#salon {
	width: auto;
	height: 100%;
	background-image: none;
	background-repeat: no-repeat;
}

#saloninfo {
	position: relative;
	top: 0;
	width: auto;
	padding: 30px;
	
}

#saloninfo a {
	color: rgb(55,34,24);
}


#saloninfo a:hover {
	border-bottom: dashed 1px #666;
}


#salonimages {
	position: relative;
	margin: 30px;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background-color: black;
	padding-top: 0;
}

#salonimages img {
	float: none;
	margin: 10px 0;
}

/* @end */

/* @group Footer */
	
footer {
	height: 60px;
	width: auto;
	background-color: rgb(55, 34, 24);
}

#footer_images {
	display: none;
}

#social {
	margin-top: 50px;
	margin-left: 20px;
	float: left;
}

#smallabout {
	display: none;
}

#facebook {
	background: url('../images/footer/facebook_logo.png') no-repeat left top;
	position: absolute;
	bottom: 10px;
	right: 20px;
	opacity: 1;
}

/* @end */



