

@charset "UTF-8";
/* CSS Document */

/* @group CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, table {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group Group/Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group General Styling */

body {
	margin: 10px auto;
	width: 950px;
}

.container {
	width: 100%;
	position: relative;
	border: none;
	-moz-box-shadow: 3px 5px 25px rgb(55,34,24);
	-webkit-box-shadow: 3px 5px 25px rgb(55,34,24);
	box-shadow: 3px 5px 25px rgb(55,34,24);
}

.no-boxshadow .container {
	border: 1px solid rgb(55,34,24);
}


p, li, table{
	margin-bottom: 1em;
	color: rgb(55,34,24);
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	color: rgb(55,34,24);
	font-family: 'PT Sans', sans-serif;
}

p {
	font-size: 0.9em;
	line-height: 1.5em;
	}
	
h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}
	

a {
	text-decoration: none;
}

ul, li {
	display: inline;
}

table {
	width: 700px;
	margin: 40px auto;
	
	
	}

th {
	padding: 0 0.5em;
	text-align: center;
	}

td {
	padding: .5em 0.5em;
	}

td+td {
	text-align: center;
	width: 140px;
}

.inline {
	display: inline;
}

em {
	font-style: italic;	
}

.small {
	font-size: .7em;
}

/* @end */

/* @group Error */
	
#error {
	height: 800px;
	background-image: url(../images/hair_reborn.jpg);
}

#error_copy {
	font-size: 1.4em;
	margin-left: 600px;
	padding-top: 150px;
}

#error_copy h2, #error_copy p {
	color: #FFF;
}

/* @end */

/* @group Header */

/*-----------------Header ------------------------*/

header {
	background-image: url(../images/header_image.png);
	background-color: rgb(55,34,24);
	background-repeat: no-repeat;
	height: 180px;
	width: 950px;
	
	}
	
header hgroup, header h1, header h2 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}

nav {
	height: 30px;
	float: right;
	margin: 137px 20px 0 0px;
}

nav ul {
	font-size: 0.95em;
	color: rgb(255,245,220);
	line-height: 30px;
	white-space: nowrap;
	
}

nav li {
	list-style-type: none;
	display: inline;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

nav li a {
	text-decoration: none;
	margin: 7px 10px;
	padding-bottom: 4px;
	color: rgb(255,245,220);
	opacity: .7;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

nav li a:link {
	color: rgb(255,245,220);
}

nav li a:visited {
	color: rgb(255,247,240);
}

nav li a:hover {
	color: rgb(255,245,220);
	opacity: 1;
}

li.active a {
	opacity: 1;
}

/* @end */

/* @group Home */

#homeimage {
	width: 950px;
	height: 1400px;
	background-image: url(../images/hair_reborn.jpg);
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	
}

#homecopy {
	width: 280px;
	height: 830px;
	margin-right: 30px;
	padding-right: 10px;
	float: right;
	margin-top: -1300px;
}

#homecopy h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.8em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

#homecopy img{
	margin-left: -90px;
	margin-top: 30px;
}

#homecopy a {
	color: #FFF;
}


#homecopy a:hover {
	border-bottom: dashed 1px #666;
}

#home_copy_hidden {
	display: none;
}
	

#reputation {
	text-align: center;
	font: 1em/1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: -30px;
	color: #e0ddd8;
} 

.newsheader {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	line-height: 1.2em;
	font-weight: normal;
	text-align: center;
	font-variant: small-caps;
}

#homecopy p, #homecopy h2 {
	color: #fff;
}

#news1, #news2, #news3, #news4 {
	position: absolute;
	width: 160px;
	height: 360px;
	padding: 20px;
	-moz-box-shadow: 1px 4px 15px rgb(55,34,24);
	-webkit-box-shadow: 1px 4px 15px rgb(55,34,24);
	box-shadow: 1px 4px 15px rgb(55,34,24);
	transition
	
	
}

#news1 {
	left: 20px;
	top: 1100px;
	background: url(../images/home_news/aveda_red.jpg) no-repeat, rgb(55,34,24);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.no-cssgradients #news1 {
	background: url(../images/home_news/aveda_red.jpg) no-repeat rgb(55,34,24);
}

#news1:hover {
	top: 1095px;
	-moz-box-shadow: 4px 6px 20px rgb(55,34,24);
	-webkit-box-shadow: 4px 6px 20px rgb(55,34,24);
	box-shadow: 4px 6px 20px rgb(55,34,24);
}

#news2 {
	left: 257px;
	top: 1100px;
	background: url(../images/home_news/fibre2.jpg) no-repeat, rgb(55,34,24);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.no-cssgradients #news2 {
	background: url(../images/home_news/fibre2.jpg) no-repeat rgb(55,34,24);
}

#news2:hover {
	top: 1095px;
	-moz-box-shadow: 4px 6px 20px rgb(55,34,24);
	-webkit-box-shadow: 4px 6px 20px rgb(55,34,24);
	box-shadow: 4px 6px 20px rgb(55,34,24);
}


#news3 {
	left: 492px;
	top: 1100px;
	background: url(../images/home_news/meg.jpg) no-repeat, rgb(55,34,24);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.no-cssgradients #news3 {
	background: url(../images/home_news/meg.jpg) no-repeat rgb(55,34,24);
}

#news3:hover {
	top: 1095px;
	-moz-box-shadow: 4px 6px 20px rgb(55,34,24);
	-webkit-box-shadow: 4px 6px 20px rgb(55,34,24);
	box-shadow: 4px 6px 20px rgb(55,34,24);
}

#news4 {
	left: 725px;
	top: 1100px;
	background: url(../images/home_news/dennis.jpg) no-repeat, rgb(55,34,24);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.no-cssgradients #news4 {
	background: url(../images/home_news/dennis.jpg) no-repeat rgb(55,34,24);
}

#news4:hover {
	top: 1095px;
	-moz-box-shadow: 4px 6px 20px rgb(55,34,24);
	-webkit-box-shadow: 4px 6px 20px rgb(55,34,24);
	box-shadow: 4px 6px 20px rgb(55,34,24);
}



aside h2, aside h3, aside h4 {
	color: rgb(255,245,220);
	margin-top: 225px;
	margin-bottom: 10px;
	
	
}
aside p {
	color: rgb(255,245,220);
	font-size: 0.8em;
	
	
}
aside h2, aside, h3, aside h4, aside h5, aside h6 {
	font-size: 1.1em;
}

#emily h3, #emily p {
	text-indent: -9999px;
	
}

.newspara {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.55em;
	font-weight: normal;
	text-align: left;
}

.newscenter {
	top: 350px;
	left: 30px;
	position: absolute;
	text-align: center;
	font-size: .75em;
	font-weight: bold;
}

.paraend {
	font-size: 1em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.offerHeading {
	font-size: 1.2em;
	font-weight: bold;
}

.offer {
	font-size: 1em;
	font-weight: bold;
}

.offerSmall {
	font-size: .6em;
	
}

/* @end */

/* @group Salon */

#salon {
	width: 950px;
	height: 1150px;
	background-image: url(../images/salon/salon_main.jpg);
	background-repeat: no-repeat;
}

#saloninfo {
	position: absolute;
	top: 760px;
	width: 360px;
	padding: 30px;
	
}

#saloninfo a {
	color: rgb(55,34,24);
}


#saloninfo a:hover {
	border-bottom: dashed 1px #666;
}


#salonimages {
	position: absolute;
	top: 680px;
	left: 420px;
	width: 530px;
	height: 600px;
	background-color: #FFF;
	padding-top: 20px;
}

#salonimages img {
	float: right;
	margin: 5px 0 20px 20px;
}

/* @end */

/* @group Men */

#men {
	width: 950px;
	height: 1150px;
	background-image: url(../images/men/men-group.jpg);
	background-repeat: no-repeat;
}

#meninfo {

	margin-left: 20px;
	position: absolute;
	top: 760px;
	width: 360px;
	padding: 30px;
	
}

#meninfo a {
	color: rgb(55,34,24);
}


#meninfo a:hover {
	border-bottom: dashed 1px #666;
}


#menimages {
	position: absolute;
	top: 680px;
	left: 420px;
	width: 530px;
	height: 600px;
	background-color: #FFF;
	padding-top: 20px;
}

#menimages img {
	float: right;
	margin: 5px 0 20px 20px;
}

/* @end */

/* @group Team */

#team {
	position: relative;
	width: 950px;
	height: 2200px;
	background-image: url(../images/pk_staff.jpg);
	background-repeat: no-repeat;
}

#paul {
	width: 520px;
	height: auto;
	position: absolute;
	top: 500px;
	padding-top: 100px;
	padding-left: 400px;
	background-image: url(../images/paul.jpg);
	background-repeat: no-repeat;
	
}

#paul p {
	font-size: 0.9em;
}

#paul h2 {
	margin-top: 1.5em;
}

#paul h3 {
	margin-top: 20px;
}

#paul img {
	padding-bottom: 20px;
}


#kel {
	position:absolute;
	left: 40px;
	top: 500px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#kel img {
	float: left;
	margin: 10px 20px 0 10px;
}

#kel p {
	font-size: 0.8em;
}

#kel h3 img {
	margin-top: 0px;
}

#jo {
	position:absolute;
	left: 470px;
	top: 500px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#jo img {
	float: left;
	margin: 10px 20px 0 10px;
}

#jo p{
	font-size: 0.8em;
}

#jo h3 img{
	margin-top: 0px;
}

#iz {
	position:absolute;
	left: 470px;
	top: 800px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#iz img {
	float: left;
	margin: 10px 20px 0 10px;
}

#iz p{
	font-size: 0.8em;
}

#iz h3 img{
	margin-top: 0px;
}

#kate {
	position:absolute;
	left: 40px;
	top: 800px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#kate img {
	float: left;
	margin: 10px 20px 0 10px;
}

#kate p {
	font-size: 0.8em;
}

#kate h3 img {
	margin-top: 0px;
}

#jack {
	position:absolute;
	top: 1100px;
	left: 470px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
	
}

#jack img {
	float: left;
	margin: 10px 20px 0 10px;
}

#jack p{
	font-size: 0.8em;
}

#jack h3 img{
	margin-top: 0px;
}

#katy {
	position:absolute;
	left: 40px;
	top: 1100px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#katy img {
	float: left;
	margin: 10px 20px 0 10px;
	
}

#katy p{
	font-size: 0.8em;
}

#katy h3 img{
	margin-top: 0px;
}

#leon {
	position:absolute;
	left: 470px;
	top: 1400px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#leon img {
	float: left;
	margin: 10px 20px 0 10px;
}

#leon p {
	font-size: 0.8em;
}

#leon h3 img {
	margin-top: 0px;
}

#tash {
	position:absolute;
	left: 40px;
	top: 1400px;
	width: 400px;
	height: 250px;
	border-bottom: solid 3px #CCC;
}

#tash img {
	float: left;
	margin: 10px 20px 0 10px;
}

#tash p {
	font-size: 0.8em;
}

#tash h3 img {
	margin-top: 0px;
}




.csstransitions .teamprice, .csstransitions .pteamprice {
	-o-opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity : 0;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.teamprice {
	display: block;
	padding-top:220px;
	width: 350px;
	height: 30px;
	position: absolute;
	top: -10px;
	left: 50px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	clear: left;
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	
}

.pteamprice {
	
	display: block;
	padding-top:220px;
	width: 400px;
	height: 30px;
	position: absolute;
	top: 175px;
	left: 450px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	clear: left;
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	
}

.teamprice:hover, .pteamprice:hover {
	-o-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

#teambottom {
	text-align: center;
	font-size: .7em;
	margin-bottom: 50px;
	clear: both;
}

/* @end */

/* @group News */

#newspage {
	width: 800px;
	margin: 30px auto;
}

#accordion {
	width: 100%;
}

#accordion article.article {
	margin: 20px 0 ;
	border-top: 1.5px solid; rgb(55,34,24);
	padding-top: 30px;
	position: relative;
}


#accordion article.article:first-of-type {
	border: none;
}

.visible {
	min-height: 200px;
}



.hidden {
	margin-bottom: 20px;

}

#accordion article.article section.hidden img.image_list {
	margin-bottom: 15px;
	float: left;
	clear: left;
}

a.anchor {
	position: absolute;
	top: -100px;
}

.author {
	font-family: 'PT Sans', sans-serif;
	font-size: .8em;
	opacity: .8;
	position: absolute;
	left: 200px;

}


#accordion article.article section.visible p,
#accordion article.article section.visible h3,
#accordion article.article section.visible h4 {
	margin-left: 200px;
}

#accordion article.article section.hidden p,
#accordion article.article section.hidden h3,
#accordion article.article section.hidden h4,
#accordion article.article section.hidden h5,
#accordion article.article section.hidden iframe {
	margin-left: 200px;
}

#accordion article.article section.visible h3 {
	font-size: 1.5em;
}

#accordion article.article section.hidden h4 {
	font-size: 1.3em;
}

#accordion article.article section.hidden h4 {
	font-size: 1.1em;
}

#accordion article.article time p {
	margin-left: 200px;
	font-family: 'PT Sans', sans-serif;
	font-size: .8em;
	opacity: .8;
	text-align: right;
}

#accordion article.article section.hidden iframe {
	margin: 10px 210px 20px 0;
	border: 1px solid #333;
	padding: 5px;
	float: right;
}


#accordion article.article section.hidden img {
	float: left;
}

#accordion article.article section.hidden ul.tigilist li {
	display: block;
	margin-left: 200px;
}

#accordion article.article section.visible img {
	float: left;
	clear: left;
}

#accordion article.article section.hidden img {
	float: left;
	clear: left;
	margin-bottom: 30px;
}


p.reveal {
	font-size: 1em;
	display: block;
	width: 110px;
	opacity: .7;
}


.reveal:hover {
	
	cursor: pointer;
	opacity: 1;
}

#accordion article.article section p a {
	color: rgb(75,54,44);
}

#accordion article.article section p a:hover {
	border-bottom: 1px dotted rgb(55,34,24);
}

section#newspage a {
	color: rgb(55,34,24);
}

section#newspage a:hover {
	border-bottom: 1px dashed rgb(55,34,24);
}

/* @end */

/* @group Offers */

#offersMain {
	height: 500px;
	background: #f5f5f5 url('../images/offer/aveda_red.jpg') no-repeat right top;
	margin: 50px;
	padding: 50px;
	border-radius: 20px;
}

#offersMain h2 {
	font-size: 3em;
}

#offersMain #offer1 {
	font-size: 1.5em;
	width: 350px;
}

#offersMain #offer1 h3 {
	font-size: 1.5em;
	line-height: 1.3em;
}

#offersMain #offer1 small {
	font-size: .5em;
}

#no_offer {
	width: 950px;
	height: 1100px;
	background-image: url(../images/hair_reborn.jpg);
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	
}

#no_offercopy {
	width: 280px;
	height: 830px;
	margin-right: 40px;
	padding-right: 10px;
	float: right;
	margin-top: -950px;
}

#no_offercopy h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #FFF;
}

#no_offercopy p {
	color: #FFF;
	font-size: 1.3em;
	text-align: center;
}

#no_offercopy a {
	color: #FFF;
	font-size: 1.3em;
	line-height: 1.2em;
}

#no_offercopy a:hover {
	border-bottom: dashed 1px #666;
}

/* @end */

/* @group Reborn Offer */

#reborn_bground {
	width: 950px;
	height: 1100px;
	background-image: url(../images/reborn/reborn_3.jpg);
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	
}

#reborn {
	float: right;
	width: 400px;
	text-align: right;
	margin-right: 70px;
}

#reborn p {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.3em;
	color: #FFF;
	margin: 5px;
}

#reborn h2 {
	font-family: 'PT Sans', sans-serif;
	text-align: right;
	margin: 60px 0 20px 0;
	color: #FFF;
}

#reborn img{
	margin-left: -90px;
	margin-top: 0px;
	margin-bottom: 20px;
}



#reborn p.reborn_small {
	font-size: 1.1em;
	margin-bottom: 10px;
}

#reborn p.reborn_med {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

#reborn p.reborn_large {
	font-size: 3.2em;
	padding: 0;
	margin: 0;
}

#reborn p.reborn_contact {
	font-size: 2em;
	padding: 0;
	margin: 0;
	float: right;
}

#reborn p.package {
	font: .9em Georgia, "Times New Roman", Times, serif;
	line-height: 1.4em;
}

#reborn p.package.reborn_small {
	font-size: .4em;
}

#reborn p.link {
	float: right;
	width: 250px;
	padding: 20px;
	margin: 25px 0;
	background-color: #FFF;
	background-color: rgba(255, 255, 254, 0.7);
	border-radius: 10px;
	-webkit-transition: opacity .3s ease 0s;
	-moz-transition: opacity .3s ease 0s;	
	transition: opacity .3s ease 0s;
	
}

#reborn p.link:hover {
	opacity: .8;
}

#reborn a {
	color: rgb(55,34,24);
}



/* @end */

/* @group Prices */

.junior h2, .stylist h2 {
	margin: 40px 0 30px 130px;
}

.junior a, .stylist a {
	margin: 20px 0 0 130px;
	color: rgb(55,34,24);
	font-size: 1.2em;
}

.junior a:hover, .stylist a:hover {
	border-bottom: 1px dashed rgb(55,34,24);
}
	

#corrective_s, #corrective_j {
	width: 700px;
	margin: auto;
	background-color: rgb(55,34,24); 
	padding: 30px;
}

#corrective_s p, #corrective_j p {
	color: rgb(255,247,240);
	font-size: 0.9em
	
}

#corrective_s h4, #corrective_j h4 {
	color: rgb(255,247,240);
	font-size: 1em;
	font-weight: bold;
}

table h3 {
	text-align: left;
	font-size: 1em;
	margin-top: 2em;
	font-weight: bold;
}

table h4 {
	text-align: left;
	font-size: 1em
	
}

.stylist_exp {
	font-size: 0.7em;
	color: rgb(55,34,24);
	text-align: center;
	font-weight: bold;
}

#key_s, #key_j {
	width: 300px;
	margin-left: 100px;
	float: left;
	padding: 10px 10px 30px;
	border: solid 2px rgb(55,34,24);
}

#key_s td+td, #key_j td+td{
	width: 200px;
}

#st_s, #st_j {
	width: 300px;
	margin: 100px 130px 0 0;
	text-align: center;
	float: right;
}

#st_s h4, #st_j h4 {
	font-weight: bold;	
}

.firstcolumn {
	width: 200px;
}

.key {
	font-size: 1.4em;
	margin: 0;
}

.underline {
	display: inline;
	text-decoration: underline;
}

/* @end */

/* @group Contact */

#contact {
	width: 950px;
	height: 600px;
	background: url(../images/PK_shop.jpg) no-repeat left top;
	float: left;
	margin-bottom: 20px;
}

#success {
	display: block;
	height: 1600px;
}

#success p {
	font-size: 1.5em;
	margin-left: 20px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 400px;
	padding-top: 0;
}

#locmap {
	float: right;
	width: 360px;
	height: 400px;
	padding: 30px;
	margin-top: 550px;
	background-color: #FFF;
}

#locmap img {
	margin: 20px auto;
	
}

#times li {
	display: block;
	font-size: 0.9em;
}

#locmap h3 {
	padding-top: 10px;
}

#form {
	margin-top: -20px;
	padding: 30px;
	width: 470px;
	background-color: rgb(245,245,240);
	float: left;
	margin-bottom: 100px;
}


#form .row {
	display: block;
	line-height: 28px;
	overflow: auto;
	padding: 10px 0px;
	width: 100%;
}


#form .row .label {
	font-size: 16px;
	font-weight: bold;
	width: 130px;
	text-align: left;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
}


#form .row .input {
	
	float: left;
	margin-right: 10px;
	width: auto;	
}


.detail {
	width: 260px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding:7px 8px;
	margin: 0;
	display: block;
	
}

.mess {
	width: 410px;
	max-width: 450px;
	height: 280px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 7px 8px;
	line-height: 1em;
	margin: 0;
	display: block;
	
}


#form .row .context {
	color: #999;
	font-size: 11px;
	font-style: italic;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	display: block;
	float:right;
	text-align: right;
	margin-right: 60px;
}


#form #submit {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 25px;
	color: #000;
	font-size: 16px;
	text-shadow: 1px 1px 1px #999;
	padding: 10px;
	
}

span.error {
	color: #000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../contact/images/x.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 25px;
	text-align: right;
	
	}

#form h2 {
	margin-top: 20px;	
}

/* @end */

/* @group Company Offer */

#company {
	background-image: url(../images/emily_side.jpg);
	width: 950px;
	height: 100%;
	background-repeat: no-repeat;
	background-color:#FFF;
	float: left;
	min-height: 550px;
}

#company_applicant {
	width: 420px;
	margin-right: 30px;
	padding: 30px;
	float: right;
	margin-top: 60px;
	margin-bottom: 40px;
	background-color: rgba(253, 253, 253, 0.4);
	-moz-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	-webkit-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	border-radius: 10px;
}

#company #company_applicant h1 {
	font-size: 2em;
	margin: 0px 40px 10px 0px;
	text-align: right;
	font-weight: bold;
}

#company #company_applicant p {
	font-size: 1.2em;
	text-align: right;
	margin-right: 40px;
}

.row input {
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.5);
}

.company_success {
	width: 420px;
	margin-right: 30px;
	padding: 30px;
	float: right;
	margin-top: 80px;
	margin-bottom: 40px;
	background-color: rgba(253, 253, 253, 0.4);
	-moz-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	-webkit-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	border-radius: 10px; 
	font-size: 1.5em;
	line-height: 1.3em;
}

#company_offer {
	width: 360px;
	margin-right: 30px;
	padding: 30px;
	float: right;
	margin-top: 60px;
	margin-bottom: 40px;
	background-color: rgba(253, 253, 253, 0.4);
	-moz-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	-webkit-box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	box-shadow: 0 0 2px rgba(5, 5, 5, 0.61);
	border-radius: 10px;
}

#company #company_offer h1 {
	font-size: 2em;
	margin: 0;
	margin-bottom: 20px;
}

#company #company_offer h2 {
	font-size: 4em;
	margin: 0;
	margin-bottom: 20px;
}

#company #company_offer p {
	font-size: 1.1em;
}

/* @end */

/* @group Dan News */

#dan_news {
	padding: 40px 160px;
	line-height: 1.5em;
}


#dan_news h1 {
	font: bold 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 450px;
	margin-bottom: 1.5em;
	color: rgb(50,10,03);
	
}

#dan_news img.adpaul {
	float: right;
	margin: 10px 0 10px 20px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 8px #262424;
	-webkit-box-shadow: 0 0 8px #262424;
	box-shadow: 0 0 8px #262424;
	
}

.salons{
	width: 230px;
	height: 260px;
	padding: 20px;
	float: left;
	border-radius: 25px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	-moz-box-shadow: 0 0 8px #262424;
	-webkit-box-shadow: 0 0 8px #262424;
	box-shadow: 0 0 8px #262424;
}

.salons.pk {
	border: 5px solid rgb(50,10,03);
	color: rgb(50,10,03);
	margin-right: 0;
}

.salons.jak {
	border: 5px solid rgb(02,27,110);
	color: rgb(02,27,110);
}

#dan_news section.salons p, #dan_news section.salons a {
	display: block;
	margin: .5em;
	text-decoration: none;
}

#dan_news section.salons a {
	font-weight: bold;
}

#dan_news section.salons.jak p {
	color: rgb(02,27,110);
}

#dan_news section.salons.pk a{
	color: rgb(50,10,03);
}

#dan_news section.salons.pk a:hover{
	opacity: 0.6;
}

#dan_news section.salons.jak a{
	color: rgb(02,27,110);
}

#dan_news section.salons.jak a:hover{
	opacity: 0.6;
}


.danhead {
	margin-bottom: 40px;
}

.final {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 30px;
	clear: both;
}

#dan_news blockquote {
	font-style: italic;
	color: rgb(55,34,24);
}

.phone_num {
	font-size: 1.4em;
}

/* @end */

/* @group Recruitment */

#recruitment {
	width: 100%;
	background: url('../images/recruitment.jpg') no-repeat right top;
	min-height: 900px;
}

#recruitBlank {
	width: 850px;
	background-color: #FFF;
	padding: 50px;
}

#recruitAdmin {
	width: 950px;
	background-color: #FFF;
}

#recruitAdmin h1, 
#recruitAdmin p,
#recruitAdmin a.search-button  {
	margin: 10px 40px;
}

#recruitAdmin div.pager {
	margin-right: 40px;
	margin-top: 20px;
}

#recruitAdmin div.summary {
	margin-right: 40px;
	margin-bottom: 20px;
}

#recruitBlank #yw0 div.items div.view {
	margin-bottom: 30px;
}


#recruitment h1,
#recruitment h2,
#recruitment h3,
#recruitment p {
	width: 350px;
	margin-left: 50px;
	margin-bottom: 10px;
	padding: 0;
	line-height: 1.3em;
}

section#recruitment h1 {
	font-size: 2em;
	padding-top: 20px;
	margin-left: 50px;
}

#recruitment h2 {
	font-size: 1em;
}

#recruitment h3 {
	font-size: 1.2em;
	margin-top: 30px;
}

#recruitment p {
	font-size: .9em;
	padding-bottom: 10px;
}

#recruitment p.last {
	padding-bottom: 15px;
}

#recruitment a {
	font-size: .8em;
	margin: 10px 0 0 50px;
	padding: 9px;
	background-color: rgb(55,34,24);
	color: #FFF;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;	
	transition: all .5s ease-in-out;
	
}

#recruitment a:hover {
	color: black;	
	background-color: rgb(227, 215, 209);
}

#recruitment .fancy {
	font-size: 2em;
	font-style: italic;
	margin-top: 40px;
}

#adex {
	width: 350px;
	margin: 20px 0;
	padding: 10px 20px 20px 20px;
	height: 180px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #333;
	margin-left: 40px;
}

#adex p {
	width: 100%;
	margin-left: 0;
}

#adex .adexBox {
	float: right;
	width: 150px;
	margin-right: 25px;
	margin-bottom: 15px;
	
	
}

#adex label {
	float: left;
	color: rgb(55,34,24);
	font-size: .8em;
	margin-left: 0;
}

#adex input {
	float: right;
	margin: 0;
}

/* @end */

/* @group Application Form */

#application {
	background: #fff url('../images/recruitment.jpg') no-repeat left top;
	background-size: cover;
}

.no-rgba #application {
	background: #fff;
}

.accordion h2 {
	margin: 0;
	padding: 10px;
	padding-left: 40px;
	margin-bottom: 20px;
	font-size: 1.5em;
	background: url('../images/brown_fade.png') repeat-y left top;
	color: #FFF;
	
}

.accordion h2:hover {
	color: #FFF;
	text-shadow: 0 0 4px rgba(249, 249, 249, 0.7);
	background: url('../images/dark_fade.png') repeat-y left top;
}

#content h1 {
	font-size: 1.5em;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.application {
	margin-left: 40px;
	margin-right: 40px;
}

p.application {
	margin-right: 300px;
}

.applink a {
	margin-left: 40px;
	font-size: 1.3em;
	color: rgb(56, 36, 26);
}

.applink a:hover {
	color: rgb(142, 109, 92);
}

.applicationSuccess {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 40px 40px;
	color: rgb(55,34,24);
}

/* @end */

/* @group Kebelo */

#kebeloMain {
	width: 950px;
}

#kebelo_top_links {
	position: absolute;
	top: 25px;
	left: 40px;
}

#kebelo #kebelo_top_links a {
	font-family: 'Rosarivo', serif;
	font-size: 1.2em;
	color: #FFF;
	color: rgba(246, 246, 246, 0.99);
	border-right: 1px solid #FFF;
	padding-right: 10px;
	margin: 0;
	margin-left: 5px;
}

#kebelo #kebelo_top_links a:hover {
	color: #FFF;
	color: rgba(255, 255, 255, 0.7);
}

#kebeloMain h2 {
	text-indent: -9999px;
}

#kebeloMain h3 {
	font-family: 'Rosarivo', serif;
	font-size: 3em;
}

span.kebelo_italic {
	font-size: .5em;
	font-style: italic;
}

#kebeloMain p {
	width: 400px;
}

#kebeloMain a {
	margin-right: 20px;
}

.kebelo_italic {
	font-size: 1.2em;
	font-style: italic;
}

#kebelo {
	width: 100%;
	background: url('../images/kebelo/kebelo_cover.jpg') no-repeat left top #e9e0d7;
	height: 1250px;
	position: relative;
}

#kebelo_offer {
	position: absolute;
	width: 230px;
	height: 230px;
	bottom: 320px;
	right: 30px;
	padding: 20px;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 50%;
	border: 1px solid #FFF;
}

.no-borderradius #kebelo_offer {
	background-color: transparent;
	border: none;
}

.no-borderradius #kebelo_offer p {
	color: #FFF;
}

.no-borderradius #kebelo_offer p.big_offer {
	line-height: 1.5em;
	margin-bottom: 5px;
}

#kebelo_offer p {
	text-align: center;
	font-size: .9em;
	width: 210px;
	margin-left: 10px;
	color: rgb(67, 45, 22);
	font-weight: bold;
	margin-top: 10px;
}

#kebelo_offer p.big_offer {
	font-size: 3em;
	line-height: .4em;
	margin-bottom: .7em;
}


#silk {
	background: #f5f5f5 url('../images/kebelo/silk-bikini.jpg') no-repeat right top;
}

#silk p strong {
	font-weight: bold;
}

#silk_copy {
	width: 500px;
	padding: 70px;
}

#silk_copy p:first-of-type {
	border: 0px solid #333;
	padding: 20px;
	font-size: .9em;
	width: 370px;
	background-color: rgb(178, 119, 59);
	color: #FFF;
	margin-bottom: 40px;
}


#silk_link {
	position: absolute;
	top: 700px;
	left: 50px;
	width: 200px;
}

#silk_link a {
	color: #FFF;
	font-family: 'Rosarivo', serif;
	font-size: 1.8em;
	line-height: 1.2em;
	-moz-transition: all .2s ease-in-out 0s;;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	
}

#silk_link a:hover {
	text-shadow: 0 0 20px;
	}

#silk_link p {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	line-height: 1.2em;
	width: 200px;
	padding-top: 7px;
}


#advantage {
	background: #f5f5f5 url('../images/kebelo/advantage-bikini.jpg') no-repeat right top;
}

#advantage_copy p:first-of-type {
	border: 0px solid #333;
	padding: 20px;
	font-size: .9em;
	width: 370px;
	background-color: rgb(75, 35, 108);
	color: #FFF;
	margin-bottom: 40px;
}

#advantage #kebelo_top_links,
#questions #kebelo_top_links,
#silk #kebelo_top_links {
	position: absolute;
	top: 200px;
	left: 50px;
}


#advantage #kebelo_top_links a,
#questions #kebelo_top_links a,
#silk #kebelo_top_links a {
	font-size: 1.2em;
	color: rgb(35, 30, 19);
	border-right: 1px solid rgb(35, 30, 19);
	padding-right: 10px;
	margin: 0;
	margin-left: 5px;
}

#advantage #kebelo_top_links a:hover,
#questions #kebelo_top_links a:hover,
#silk #kebelo_top_links a:hover {
	color: rgba(35, 30, 19, 0.50);
}

#advantage_copy {
	width: 500px;
	padding: 70px;
}

#advantage_link {
	position: absolute;
	position: absolute;
	top: 400px;
	left: 50px;
	width: 200px;
}

#advantage_link a {
	color: #FFF;
	font-family: 'Rosarivo', serif;
	font-size: 1.8em;
	-moz-transition: all .2s ease-in-out 0s;;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

#advantage_link a:hover {
	text-shadow: 0 0 20px;
}

#advantage_link p {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #FFF;
	line-height: 1.2em;
	width: 200px;
	padding-top: 7px;
}

#advantage #three_advantages {
	width: 850px;
	height: 270px;
	background-color: #FFF;
	padding: 50px;
}

#advantage #three_advantages h3 {
	font-size: 1.8em;
}

#advantage #three_advantages p {
	width: 220px;
	font-family: 'PT Sans', sans-serif;
	font-size: .9em;
	line-height: 1.3em;
	float: left;
	margin-right: 30px;
}

#advantage #three_advantages ol {
	width: 600px;
	float: left;
}

#advantage #three_advantages ol li {
	width: 155px;
	padding: 0 20px;
	float: left;
	font-family: 'PT Sans', sans-serif;
	font-size: .9em;
	line-height: 1.3em;
	border-left: 1px solid #333;
}

#advantage #three_advantages li strong{
	font-weight: bold;
}


#questions {
	background: #f5f5f5 url('../images/kebelo/red-2.png') no-repeat right top;
}

#questions p:first-of-type {
	font-size: 1.2em;
}

#questions p {
	font-size: .8em;
}

#questions_link {
	position: absolute;
	position: absolute;
	top: 400px;
	left: 730px;
	width: 200px;
}

#questions_link a {
	color: #FFF;
	font-size: 1.8em;
	line-height: 1.2em;
	font-family: 'Rosarivo', serif;
	-moz-transition: all .2s ease-in-out 0s;;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

#questions_link a:hover {
	text-shadow: 0 0 20px;
}

#questions_link p {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	line-height: 1.2em;
	width: 200px;
	padding-top: 7px;
}

#questions_copy {
	width: 500px;
	padding: 70px;
}

#questions_copy dl dt {
	cursor: pointer;
	background-color: #7f7058;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 1.4em;
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-appearance-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

#questions_copy dl dt:hover {
	color: black;
	background-color: #c0bcb6;
}

#questions_copy dl dd {
	margin: 10px 0;
	line-height: 1.4em;
}

/* @end */

/* @group Competition */

#competition {
	height: auto;
	min-height: 500px;
	padding: 30px;
	width: 890px;
	margin-bottom: 50px;
	float: left;
	background: url('../images/competition/ghd.jpg') no-repeat;
	
	background-position: right top;
}

#competition_copy {
	width: 300px;
	margin-left: 50px;
}

#competition_copy h1 {
	color: #666;
	margin: 20px 0;
	font: 4em Georgia, "Times New Roman", Times, serif;
	margin-left: 30px;
}

#competition_copy p.candy {
	margin-left: -80px;
	font: 2em Georgia, "Times New Roman", Times, serif;
	color: #666;
	text-align: center;
}

.competition_success {
	font-size: 1.5em;
	width: 300px;
}

#competition_copy p strong {
	font-weight: bold;
}

#competition_copy label,
#competition_copy input,
#competition_copy p.note,
#competition_copy .form .errorSummary,
#competition_copy .form .errorMessage,
#competition_copy select {
	margin-left: 0;
}

#competition_copy input{
	width: 300px;
}

#competition_copy .row.buttons input{
	width: 60px;
}

p.big {
	font-size: 1.2em;
	font-weight: bold;
}

#competition_copy a {
	font-size: 1.6em;
	text-decoration: none;
	color: #870000;
	margin-bottom: 40px;
}

#competition_copy a.normal {
	font-size: 1em;
}

#competition_copy a:hover {
	border-bottom: 1px dashed #870000;
}

#competition_copy a.link_image:hover {
	border-bottom: 0px dashed #870000;
	opacity: .7;
}

#competition_copy img {
	margin-bottom: 20px;
}

#valentine {
	height: auto;
	min-height: 500px;
	padding: 30px;
	width: 890px;
	margin-bottom: 50px;
	float: left;
	background: url('../images/competition/ghd.jpg') no-repeat;
	background-size: cover;
	background-position: right top;
}

.question {
	font-size: 1.1em;
	font-weight: bold;
}

#competition small {
	font-size: 0.8em;
	line-height: 1.5em;
}

.comp_end {
	color: #8a1d02;
}


/* @end */

/* @group graduate offer */

#graduate {
	background: url('../images/graduate/meg.jpg') no-repeat 550px 60px #f5f5f5;
	height: 700px;
}

#graduatecopy {
	width: 430px;
	padding: 50px;
	font-size: 1.1em;
}

#graduatecopy strong {
	font-size: 1.3em;
	font-weight: bolder;
}

/* @end */

/* @group Lisa Comp */

#lisa_comp {
	height: 100%;
	background: #f5f5f5 url('../images/aveda.jpg') no-repeat left top;
	padding: 40px;
}

#lisa_comp_copy {
	width: 350px;
}

#lisa_comp_copy h1 {
	margin: 0;
	font-size: 2.5em;
	line-height: 1.2em;
	margin-bottom: 20px;
}

#lisa_comp_copy h2 {
	margin-top: .5em;
}

#lisa_comp_copy p {
	margin: 0;
	font-size: 1.2em;
	margin-bottom: 10px;
}

#lisa_comp_copy ul li {
	font-size: 1.4em;
	line-height: 1.4em;
	display: block;
	color: #2e3a79;
	list-style: disc url() inside;
	
}

#lisa_comp_copy p strong {
	font-weight: bold;
}

#lisa_comp input {
	margin-left: 0;
}

#lisa_comp label {
	margin-left: 0;
	margin-top: 20px;
}

/* @end */

/* @group Feedback  */

#feedback {
	padding: 60px;
	width: 650px;
}

#feedbackBlank {
	width: 850px;
	background-color: #FFF;
	padding: 50px;
}

#feedbackBlank #yw0 div.items div.view {
	margin-bottom: 30px;
}

#feedback h1 {
	font-size: 2em;
}

#feedback h2 {
	font-size: 1.5em;
}

#feedback p {
	font-size: 1.1em;
}

#feedback p strong {
	font-weight: bold;
}

#feedback input, #feedback label, #feedback .errorSummary, #feedback .errorMessage, #feedback select, #feedback textarea, #feedback h1, #feedback p.note {
	margin-left: 0;
}

#feedback input {
	margin-right: 40px;
}

#feedback label.required {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
	font-style: normal;
	line-height: 1.5em;
}

#feedback p.scale_label {
	margin-right: 10px;
	display: inline;
	margin-bottom: 40px;
	font: .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#feedback .form .question {
	border: 1px solid #888;
	padding: 10px;
	border-radius: 10px;
}

#feedback p.small {
	font-size: .7em;
	margin-bottom: 30px;
}


/* @end */

/* @group Footer */
	
footer {
	height: 270px;
	width: 950px;
	clear: both;
}

#footer_images {
	padding-left: 25px;
	border-bottom: 12px solid rgb(55,34,24);
	float: left;
	width: 925px;
}

#footer_images li a img {
	padding: 5px 19px 14px 19px;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
}

#footer_images li a img:hover {
	opacity: 0.6;
}


#social {
	margin-top: 50px;
	margin-left: 20px;
	float: left;

}

#likebox-frame {

border-top: 3.5px solid #FFF;
 border:3px solid #FFF;
 width:905px;
 z-index:10;
 height: 150px;
 overflow: hidden;
 position:relative;
 top:-1px;
 left:-2px;
}

#likebox-frame iframe{
  left:-2px;
  overflow:hidden;
  position:relative;
  top:-7px;
}

#smallabout {
	width: 700px;
	float: left;
	font-size: 0.7em;
	margin-top: 50px;
	margin-left: 30px;
	
}

#smallabout h2 {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	font-size: .7em;


}

#smallabout li {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	font-size: .7em;
	padding-right: 5px;
	border-right: 1px solid #333;
}

#facebook {
	position: absolute;
	bottom: 40px;
	right: 30px;
	opacity: .8;
}

#facebook:hover {
	opacity: 1;
}

/* @end */
