<!DOCTYPE HTML>

<title>Jakata Newsletter - <?php echo date('F');?> 2012</title>

<html>
<body>

<table width="100%" cellpadding="10" cellspacing="0">

	<tr>
	<td valign="top" align="center">
	<table width="657" cellpadding="0" cellspacing="0" style="border: 1px solid #999;">
	<tr>
	<td>
	<table width="657" cellpadding="0" cellspacing="0">
	<table width="657" cellpadding="0" cellspacing="0">
	<tr>
	<a href="http://www.paulkemphairdressing.com/newsmail/july_12.html" style="text-decoration: none; font-size: .7em; color: #999; text-align:left;">View this e-mail in your browser</a>
	</td>
	</tr>
	
	<!--header-->
	<tr>
	<td height="224" align="left" valign="middle" style="background-color:#FFFFFF;border-top:0px solid #333333;"><center>
	  <a href="http://www.paulkemphairdressing.com"><img src="http://paulkemphairdressing.com/images/newsletter/pk_masthead_oct.jpg" alt="Paul Kemp Hairdressing 01925 444488" width="657" height="224" style="border-style: none"></a></td>
	</tr>
	</table>
	<!--end header-->
	
	<table width="657" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
	
	
	<tr> <!--Intro-->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://paulkemphairdressing.com/images/news_images/opulent.jpg" alt="Schwarzkopf" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Welcome to our <?php echo date('F');?> Newsletter</strong></h1>
		<p>Hi <?php echo ucfirst($model->first_name);?>, thank's for keeping up to date with the latest news from Paul Kemp Hairdressing. We've had loads going on over the last few months, plus we've welcomed a few new additions to the team! With Autumn well and truly here and Christmas fast on it's way, we've compiled some seasonal info for you!</p>
		<p>To keep up to date with everything going on in the salon visit</p>
		<p><a href="http://www.paulkemphairdressing.com" target="_blank" style="color: #333;">www.paulkemphairdressing.com</a></p>
		<P><strong>Thanks again, and see you in the salon soon!</strong></P>
	   </td>
	</tr>
	
	
	<tr> <!--Jack-->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://paulkemphairdressing.com/images/news_images/jack1.jpg" alt="Jack Broady" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Welcoming Jack and Megan</strong></h1>
		<p>We're really pleased to welcome two new staff members to the salon.</p>
		<p>We've been on the lookout to expand the Paul Kemp team and we've had a fantastic response.</p>
		<p><a href="http://www.paulkemphairdressing.com/news.php#NewStaff" target="_blank" style="color: #333;">Find out more here&gt;</a></p>
	   </td>
	</tr>
	
	<tr> <!--Leon Back-->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;"><p>
	  <img src="http://paulkemphairdressing.com/images/news_images/leon.jpg/" alt="Leon" width="135" height="180"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Leon's Back!</strong></h1>
		<p>Leon recently took some time out to do a bit of travelling around the world. He had a great time traveling around South East Asia and Australia for a few months.</p>
		<p>We're glad he had a good time, but we're more glad that he's now back in the salon! (it wasn't the same without him)</p>
		<p><em>If you didn't realise he was back then call 01925 444488 to book your appointment with him</em></p>
	   </td>
	</tr>
	
	case 1:
	echo
	 '<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/essential_look.jpg" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p>Colour & Cut Package for just £70 with any of our talented stylists!</p>
	  <p>Simply print this out to redeem your offer</p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only,<br>Not Transferable </p>
	  <p><strong></strong></p>
	 </td>
	</tr>';
	break;
	case 2:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/essential_look.jpg" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p>£50 Cut & Colour available until 30th November (add £20 for Senior Stylists)</p>
	  <p>Simply print this out to redeem your offer</p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong></strong></p>
	 </td>
	</tr>';
	break;
	case 3:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/essential_look.jpg" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p>For a limited time have a Colour plus Cut, Dry & Style for just £30, or just a Cut, Dry & Style for £15 with Tash only. Don\'t miss out - offer ends 30th November, not with any other offer.</p>
	  <p>Simply print this out to redeem your offer</p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong>Call 01925 242960 to book</strong></p>
	 </td>
	</tr>';
	break;
	case 5:
	echo
	'<tr> 
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://www.jakatasalon.co.uk/images/newspics/men_pic.jpg" alt="Special Offer" width="135" height="190"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:14px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:24px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Special Offer for you '.ucfirst($model->first_name).'</strong></h1>
	  <p>FREE product worth over £10 with your next Cut & Style before the end of November!</p>
	  <p>Simply print this out to redeem your offer</p>
	  <p>Offer exclusively for '.ucfirst($model->first_name).' '.ucfirst($model->last_name).' only.<br>Not Transferable </p>
	  <p><strong>Call 01925 242960 to book</strong></p>
	 </td>
	</tr>';
	break;
	}
	
	
	<tr> <!--Christmas Gift Packs-->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://paulkemphairdressing.com/images/news_images/tigi_christmas.jpg" alt="Tigi Christmas" width="135" height="110"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Christmas Approaching Fast!</strong></h1>
	  	<p>It seems way too early to be talking about Christmas, but it is creeping up fast! The bookings are already flowing in, and we recently took arrival of this years Christmas Gift sets.</p>
	  	<p>This year we've got some great packs from our main suppliers, they're already flying off the shelves!</p>
	  	<p><a href="http://www.paulkemphairdressing.com/news.php#ChristmasGifts" target="_blank" style="color: #333;">Find out more here&gt;</a></p> 
	    </td>
	  </tr>
	  	
	<tr> <!--Christmas Bookings-->
	  <td width="135" height="200" valign="top" bgcolor="#FFFFFF" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;border-bottom: 1px dashed #999;">
	  <p><img src="http://paulkemphairdressing.com/images/news_images/merry-christmas.jpg" alt="Christmas Aproaching Fast" width="135" height="160"></p></td>
	  <td width="440" valign="top" bgcolor="#FFFFFF" style="text-align: left;font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms; border-bottom: 1px dashed #999; padding-right: 40px;">
	  <h1 style="font-size:20px;font-weight:bold;color:#666;font-family:arial;line-height:110%;">
	  <strong>Christmas Bookings</strong></h1>
	    <p>We're anticipating a seriously busy Christmas period this year, we started taking bookings back in September! The salon is open longer hours throughout December, with Sunday/Monday opening in the two weeks before Christmas.</p>
	    <p>We highly recommend getting your appointment booked soon to avoid disappointment - some of the weekends are already nearly booked up!</p>
	    <p><strong>Call 01925 444488 to book yours now</strong></p>
	   </td>
	  </tr>
		
	<!--footer-->
		
		<tr>
		  <td style="background-color: #372218;border-top:10px solid #FFFFFF;" valign="top">&nbsp;</td>
		  <td style="background-color:#372218;border-top:10px solid #FFFFFF;" valign="top">
		  <span style="text-align:left;font-size:10px;color:#FFFFFF;font-family:verdana;">
			Paul Kemp Hairdressing Ltd <br />
		  <br />
		  <a href="mailto:adamcarter@jakatasalon.co.uk">Unsubscribe</a>: Just Return this e-mail with 'unsubscribe' as the subject <br />
		  <p>
			Paul Kemp Hairdressing<br>
			83 Sankey Street<br>
			Warrington<br>
			WA1 1SL
		  </p>
		
			<p>Telephone:<br />
			01925 444488</p>
		  
		   <p> Copyright (C) 2012 Paul Kemp Hairdressing Ltd. All rights reserved.</p>
		   </span>
		   </td>
		   		</tr>
				 </table>
			</td>
		</tr>
		</table>
		</tr>
	
	</table>
	<!--end footer-->

</body>
</html>